<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-4"><!--BARRA NAVEGACIÓN-->
    <a class="navbar-brand" href="#">
      <img src="assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="">
      NG-BLOG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorias</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nombre usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Crear entrada</a>
            <a class="dropdown-item" href="#">Crear categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mi perfil</a>
            <a class="dropdown-item" href="#">Ajustes</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav><!--CERRAR BARRA NAVEGACIÓN-->

  <!--CONTENIDO-->
  <router-outlet></router-outlet>

</div><!--CERRAR CONTENEDOR PRINCIPAL-->
